<div class="header mb-5 bg-body-tertiary">
    <div class="container">
        <header class="p-3 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a [routerLink]="''" class="d-flex align-items-center mb-2 pe-3 mb-lg-0 text-decoration-none text-black">
                Logo
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a [routerLink]="''" class="nav-link px-2">Главная</a></li>
                <li><a [routerLink]="'catalogue'" class="nav-link px-2">Каталог</a></li>
            </ul>
        </header>
    </div>
</div>